<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>All Posts</h1>
    <a href="{{ url_for('makelisting') }}">Make a new listing</a>
    <ul>
    {% for post in posts %}
        <li>
            <h2>{{ post.title }}</h2>
            <p>Price: ${{ post.price }}</p>

            <!-- Split the image_filenames and display each image -->
            {% for image_filename in post.image_filenames.split(',') %}
                <img src="{{ url_for('static', filename='uploads/' + image_filename) }}" alt="Post Image" width="200">
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
